In [2]:
import pandas as pd
import re

In [14]:
def clean_tweet(tweet):
    """
    This function is used to clean the sentence froom column "tweet" train and test dataframe
    :type tweet: string
    """
    tweet = re.sub(r"@[A-Za-z0-9]+", '', tweet)
    tweet = re.sub("#", "", tweet)
    tweet = re.sub(r"[^a-zA-Z\s]", "", tweet) #Removes also inner *, but also emoticones
    tweet = tweet.lower()
    
#     # Remove stopwords
#     stop_words = set(stopwords.words('english'))  
#     words = tweet.split()
#     words = [word for word in words if word not in stop_words]
    
#     tweet = ' '.join(words)
    return tweet

In [4]:
## drop unnecessary column from OLID train dataset##
train = pd.read_csv("./olid-training-v1.0.tsv", delimiter="\t")
train = train.drop(["subtask_b","subtask_c","id"], axis=1)
train = train.rename(columns={"subtask_a":"label"})
train.head()

                                               tweet label
0  @USER She should ask a few native Americans wh...   OFF
1  @USER @USER Go home you’re drunk!!! @USER #MAG...   OFF
2  Amazon is investigating Chinese employees who ...   NOT
3  @USER Someone should'veTaken" this piece of sh...   OFF
4  @USER @USER Obama wanted liberals &amp; illega...   NOT

In [12]:
## merge two dataframes (tweet and label) to create test dataset ##
test_set = pd.read_csv("testset-levela.tsv", delimiter="\t")

column_names = ["id","label"]
label = pd.read_csv("labels-levela.csv", names = column_names)

df1 = test_set
df2 = label
test = pd.merge(df1, df2, on="id", how='outer')
test = test.drop("id", axis=1)
test.head()

                                               tweet label
0  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...   OFF
1  #ConstitutionDay is revered by Conservatives, ...   NOT
2  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...   NOT
3  #Watching #Boomer getting the news that she is...   NOT
4  #NoPasaran: Unity demo to oppose the far-right...   OFF

In [18]:
# save preprocessed dataset # 
train['tweet'] = train['tweet'].apply(clean_tweet)
test['tweet'] = test['tweet'].apply(clean_tweet)

train.to_csv("../data/OLID_train.csv", index=False)
test.to_csv("../data/OLID_test.csv", index=False)

#save dataset with binary label 0 1 for BERT
train['label'] = train['label'].replace({'NOT': 0, 'OFF': 1})
test['label'] = test['label'].replace({'NOT': 0, 'OFF': 1})

train.to_csv("../data/OLID_train_bert.csv", index=False)
test.to_csv("../data/OLID_test_bert.csv", index=False)